.header {
  font-size: 22px;
  color: black;
  background: #f4f4f4;
  position: absolute;
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 9;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 96px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 30px;
}
.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 70px;
     -moz-column-gap: 70px;
          column-gap: 70px;
}

@media (min-width: 760px) {
  .header__container {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
  }
  .header__text {
    font: 200 16px/1 "Sharp Grotesk", sans-serif;
  }
}