.home-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  height: 100%;
  width: 100vw;
  max-height: 100vh;
  position: relative;
  overflow: hidden;
}
.home-top__center {
  gap: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.home-top__figure {
  margin: 0 auto;
  text-align: right;
  height: 99px;
  width: 265px;
}
.home-top__img {
  border-radius: 12px;
  position: relative;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}
.home-top__title {
  font: 300 32px/36px "Sharp Grotesk", sans-serif;
  padding: 0 20px;
  text-align: center;
  max-width: 375px;
}
.home-top__arrow {
  position: absolute;
  bottom: 35px;
}
.home-top__bg {
  background: url(../../dist/images/bg-home-top.png) no-repeat center;
  background-size: cover;
  -webkit-transform: rotate(-160deg);
          transform: rotate(-160deg);
  position: absolute;
  bottom: -141px;
  right: -250px;
  width: 514px;
  height: 481px;
}

@media (min-width: 768px) {
  .home-top__block {
    display: block;
  }
  .home-top__title {
    font: 300 64px/72px "Sharp Grotesk", sans-serif;
    text-align: center;
    letter-spacing: -0.25px;
    max-width: 1128px;
  }
}