.lab-grid__container {
  padding: 20px;
}
.lab-grid__img {
  border-radius: 12px;
}
.lab-grid__x2, .lab-grid__x3, .lab-grid__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  gap: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.lab-grid__img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}
.lab-grid::before {
  content: "";
  background: #E4EAFF;
  background: -webkit-gradient(linear, left top, left bottom, from(#E4EAFF), to(#F4F4F4));
  background: linear-gradient(180deg, #E4EAFF, #F4F4F4);
  display: block;
  height: 70%;
  position: absolute;
  width: 100%;
}

@media (min-width: 768px) {
  .lab-grid__container {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
  .lab-grid__x3 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .lab-grid__x2 {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
  }
  .lab-grid__item {
    background-color: #ffffff;
    border-radius: 12px;
    text-align: center;
    font-size: 24px;
  }
  .lab-grid__itemx2 {
    grid-column-end: span 2;
  }
  .lab-grid__item--vertical {
    grid-row-end: span 2;
  }
  .lab-grid__flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
  }
  .lab-grid--right {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
  }
}