.single__info {
  text-align: center;
  margin: 0 0 30px;
  padding-top: 58px;
}
.single__info__title {
  font: 300 24px/30px "Sharp Grotesk", sans-serif;
  margin: 0 0 55px;
}
.single__info__text {
  font: 300 32px/32px "Sharp Grotesk", sans-serif;
  margin: 0 0 65px;
}
.single__info__container {
  border-bottom: 1px solid black;
  margin: 0 16px;
}

@media (min-width: 768px) {
  .single__info {
    margin: 0 0 60px;
    padding-top: 90px;
  }
  .single__info__title {
    margin: 0 0 58px;
  }
  .single__info__text {
    font: 300 45px/52px "Sharp Grotesk", sans-serif;
    margin: 0 0 130px;
  }
  .single__info__container {
    margin: 0;
  }
}