@import '../vars.scss';

.team {
    &__title {
        font: 300 32px/32px $font-primary;
        padding: 0 20px;
        margin: 0 0 75px;
    }
}

.accordion {
    padding: 0 20px;
    margin-bottom: 80px;

    &> :last-child {
        border-bottom: 1px solid white;
    }

    &__item {
        border-top: 1px solid white;
        display: flex;
        justify-content: space-between;
        padding: 23px 0;
        width: 100%;
        font: 200 16px/26px $font-primary;
        letter-spacing: 0.15px;
        transition: $transition ease-out;
        position: relative;

        height: 160px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
        cursor: pointer;


        &:hover {
            background: black;
            color: white;

            & .accordion__title {
                color: $color-secondary-hover;
            }

            & .accordion__caption {
                color: white;
            }

            & .accordion__arrow__svg {
                left: -15px;
                stroke: white;
            }

            & .accordion__img {
                width: 230px;
                opacity: 1;
            }
        }


    }

    &__arrow {

        &__svg {
            left: 0;
            position: relative;
            transition: $transition ease-out;
        }
    }

    &__title {
        font: 200 28px/34px $font-primary;

        flex: inherit;
        max-width: 180px;
    }

    &__img {

        transition: all 1.5s cubic-bezier(0, .805, .145, .995), opacity .2s;
        transition-delay: 0s;
        -webkit-transform: translateZ(0) translateY(0);
        transform: translateZ(0) translateY(0);
        opacity: 0;
        -webkit-clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
        clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
        display: block;
        width: 170px;
        height: 270px;
        -o-object-fit: cover;
        object-fit: cover;
        position: absolute;

        z-index: 1;
        pointer-events: none;
        border-radius: 12px;
        right: 20px;
        top: -25px;
    }

    &__title,
    &__caption,
    &__arrow,
    &__tag {
        flex: 0 0 40%;
        width: 50%;
    }

    &__arrow,
    &__caption {
        text-align: right;
    }

    &__tag {
        flex: 0;
    }

    &__arrow {
        flex: 0;
        position: relative;
        top: 7px;
    }

    &__arrow__svg {
        stroke: white;
    }
}


@media (min-width: 768px) {

    .team {
        &__title {
            font: 300 64px/72px $font-primary;
            text-align: right;
            display: block;
            margin: 0 0 85px;
            padding: 0;
        }
    }

    .accordion {
        margin-bottom: 0;
        padding: 0 0 304px;

        &__item {
            position: relative;
            align-items: center;
            font: 200 16px/24px $font-primary;

            height: inherit;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
        }

        &__arrow__svg {
            left: -25px;
        }

        &__title {
            max-width: inherit;
            flex: 0 0 320px;
            display: flex;
        }

        &__tag {
            display: flex;
            flex: 0 0 160px;
            width: auto;
        }

        &__arrow {
            display: flex;
            top: inherit;
        }

        &__caption {
            display: flex;
            color: #606060;
            font: 200 12px/20px $font-primary;
            width: auto;
            flex: 0 0 160px;
        }

        &__img {
            left: 420px;
            top: -43px;
            right: inherit;
        }

    }
}