@import '../vars.scss';

.philosophy {
    &__title {
        font: 300 40px/40px $font-primary;
        color: #F4F4F4;
        text-align: center;
        margin: 0 0 48px;
    }

    &__container {
        padding: 0 20px;
    }

    &__figure {
        position: relative;
        height: 0;
        padding-top: 67.7613%;
        border-radius: 26px;
        margin: 0 0 22px;
        width: 100%;
        z-index: 2;
    }

    &__img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 12px;
    }

    &__text {
        font: 200 16px/26px $font-primary;
        padding-left: 15px;
        margin: 0 0 20px;

        &__feature {
            font: 300 28px/34px $font-primary;
            padding-left: 15px;
            margin: 43px 0 31px;
        }
    }
}

@media (min-width: 768px) {
    .philosophy {
        padding-bottom: 139px;

        &__title {
            font: 300 64px/72px $font-primary;
            letter-spacing: -0.25px;
            margin: 0 0 95px;
        }

        &__container {
            padding: 0 20px;
        }

        &__data {
            display: flex;
            justify-content: space-around;
            gap: 121px;
        }

        &__text {
            padding-left: 0;

            &__feature {

                padding-left: 0;
                margin: 0 0 31px;
            }
        }

        &__figure {
            filter: drop-shadow(0px 4px 100px rgba(18, 124, 250, 0.35));
            width: 295px;

            &-2 {
                height: 200px;
                padding: 0;
                margin-left: 210px;
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 1200px) {
    .philosophy {
        &__data {
            gap: 35px;
        }
    }
}

@media (min-width: 768px) and (max-width: 1100px) {
    .philosophy {
        padding-bottom: 70px;

        &__data {
            flex-direction: column;
            gap: 35px;
        }

        &__figure {
            width: 295px;
            height: 200px;
            padding: 0;
            margin: 30px auto 20px;
        }


    }
}