@import '../vars.scss';

.row {
    margin: 0 auto;
    max-width: $grid-width;
    position: relative;
    width: 100%;

    &__container {
        margin: 0 -10px;
        line-height: 0;
        font-size: 0;
    }
}

.col {
    display: inline-block;
    vertical-align: top;
    padding: 0 10px;
    box-sizing: border-box;
    width: 100%;
}

@media (min-width: 768px) {

    .col {

        &_6 {
            width: 50%;
        }
    }
}