@import '../vars.scss';

.header {
    font-size: 22px;
    color: black;
    background: #f4f4f4;
    position: absolute;
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 9;
    box-shadow: 0px 0 0 rgba(0, 0, 0, .08);
    transition: $transition;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        height: 96px;
        box-sizing: border-box;
        padding: 0 30px;
    }

    &__right {
        display: flex;
        align-items: center;
        column-gap: 70px;
    }

    &--sticky {
        box-shadow: 0px 1px 6px rgba(0, 0, 0, .08);
    }
}

@media (min-width: 760px) {
    .header {

        &__container {

            max-width: $grid-width;
            margin: 0 auto;
            padding: 0 20px;
        }

        &__text {
            font: 200 16px/1 $font-primary;
        }
    }

}

@media (min-width: 945px) {}