@import '../vars.scss';

.home-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    width: 100vw;
    max-height: 100vh;
    position: relative;
    overflow: hidden;

    &__center {
        gap: 55px;
        display: flex;
        flex-direction: column;
    }

    &__figure {
        margin: 0 auto;
        text-align: right;
        height: 99px;
        width: 265px;
    }

    &__img {
        border-radius: 12px;
        position: relative;
        overflow: hidden;
        object-fit: cover;
    }

    &__title {
        font: 300 32px/36px $font-primary;
        padding: 0 20px;
        text-align: center;
        max-width: 375px;
    }

    &__arrow {
        position: absolute;
        bottom: 35px;
        animation: arrow-anim 1.2s ease-in-out infinite;
    }

    &__bg {
        background: url(../../dist/images/bg-home-top.png) no-repeat center;
        background-size: cover;
        transform: rotate(-160deg);
        position: absolute;
        bottom: -141px;
        right: -250px;
        width: 514px;
        height: 481px;
    }
}

@media (min-width: 768px) {
    .home-top {
        &__block {
            display: block;
        }

        &__title {
            font: 300 64px/72px $font-primary;

            text-align: center;
            letter-spacing: -0.25px;
            max-width: 1128px;
        }
    }

}

@keyframes arrow-anim {

    0%,
    100% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(0, 10px);
    }
}