@import '../vars.scss';

.iframe__figure {
    position: fixed;
    left: 50%;
    top: 0;
    transform: translate(-50%, 0);
    height: 100vh;
    height: 807px;
    // height: 0;
    // padding-top: 57%;
    width: 220px;


    iframe {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        // top: -180px;
        transform: translateY(-180px);
        left: 0;
    }
}

.home-video {
    width: 100%;
    max-height: 100vh;



    & * {
        width: 100%;
        max-height: 100vh;
        object-fit: cover;
    }

}

@media (min-width: 768px) {}