@import '../vars.scss';

.home-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
    text-align: center;
    height: 100%;
    width: 100vw;
    max-height: 100vh;
    position: relative;
    overflow: hidden;
    height: 1700px;
    max-height: inherit;

    &__center {
        gap: 55px;
        display: flex;
        flex-direction: column;
        z-index: 2;
    }

    &__figure {
        margin: 0 auto;
        text-align: right;
        height: 99px;
        width: 265px;
    }

    &__img {
        border-radius: 12px;
        position: relative;
        overflow: hidden;
        object-fit: cover;
    }

    &__title {
        font: 300 32px/36px $font-primary;
        padding: 0 20px;
        text-align: center;
        max-width: 375px;
    }

    &__arrow {
        position: absolute;
        bottom: 35px;
        animation: arrow-anim 1.2s ease-in-out infinite;
    }

    &__bg {

        position: absolute;
        bottom: 0;
        right: 0;
        height: 550px;
        width: 434px;
        opacity: 0;
        transition: $transition;

        &.visible {
            // background: url(../../dist/images/bg-hometop.jpg) no-repeat center;
            background-size: cover;
            opacity: 1;
        }
    }
}

.home-background {
    background-color: #f4f4f4;
    position: relative;
    z-index: 1;
}

@media (min-width: 768px) {
    .home-top {
        height: 1700px;
        max-height: inherit;

        &__block {
            display: block;
        }

        &__title,
        & iframe,
        & .iframe__figure {
            transition: all 0.1s;
        }

        &__title {
            font: 300 64px/72px $font-primary;
            margin: 328px 0 0;
            text-align: center;
            letter-spacing: -0.25px;
            max-width: 1128px;
        }
    }

}

@keyframes arrow-anim {

    0%,
    100% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(0, 10px);
    }
}