@import '../vars.scss';

.header {
    background: #E4E9FF;
}

.lab {
    padding-top: 96px;
    background: #E4E9FF;

    &__header {
        padding: 0 20px 52px;
        margin: 30px 0 0;

        &__title {
            font: 600 64px/64px $font-secondary;
        }


    }


    .branding__title {
        font: 600 64px/64px $font-secondary;

    }

    .our-lab__title {
        font: 600 16px/24px $font-secondary;
    }

    .our-lab__text {
        font: 300 12px/20px $font-primary;
        letter-spacing: 0.1px;
    }

    .illustration__text {
        font: 600 16px/24px $font-secondary;
    }

    .illustration__span {
        display: block;
    }
}


@media (min-width: 768px) {
    .lab {
        &__header {
            padding: 0 20px 82px;
            margin: 51px 0 0;

            &__title {
                font: 300 45px/52px $font-primary;
                margin: 0 0 73px;
                max-width: 1040px;
            }

            &__text {
                font: 300 24px/30px $font-primary;
            }
        }
    }
}