@import '../vars.scss';

.mod-work {

    &__header {
        display: flex;
        justify-content: space-between;
        padding: 58px 20px 33px;
        font: 200 16px/28px $font-primary;
    }

    &__content {
        line-height: 0;
        font-size: 0;
    }

    &__title {
        font-weight: 200;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        column-gap: 4px;

        &::after {
            content: '';
            background: black;
            height: 1px;
            width: 18px;
        }
    }

    &__link {
        font: 200 14px/24px $font-primary;
        letter-spacing: 0.15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: $transition;

        &::after {
            content: '';
            background: black;
            height: 1px;
            width: 100%;
            transition: $transition;
        }

        &:hover {
            color: $color-primary-hover;

            &::after {
                background-color: $color-primary-hover;
                width: 80%;
            }
        }
    }

    &__more {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &--center {
            margin-bottom: 90px;
        }
    }
}

@media (min-width: 768px) {

    .mod-work {
        &__header {
            padding: 58px 10px 33px;
        }
    }
}