@import '../vars.scss';

.section__invert {
    background: black url(../images/bg-mod-invert-mobile.jpg) bottom left no-repeat;
    background-size: cover;
    color: white;
    padding: 100px 16px 48px;

    &__container {
        display: flex;
        gap: 41px;
        flex-direction: column;
        padding: 0;
    }

    &__text {
        font: 300 20px/24px $font-primary;
    }

    &__feature {
        font: 300 24px/28px $font-primary;
        margin: 0 0 40px;
    }

    &__figure {
        position: relative;
        height: 0;
        padding-top: 58%;
        width: 100%;
    }

    &__img {
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 12px;
    }
}

@media (min-width: 768px) {

    .section__invert {
        background: black url(../images/bg-mod-invert.jpg) bottom left no-repeat;
        background-size: cover;
        color: white;
        padding: 144px 0 96px;

        &__container {
            gap: 109px;
        }

        &__text {
            font: 300 28px/36px $font-primary;
            max-width: 635px;
        }

        &__feature {
            font: 300 28px/36px $font-primary;
            text-align: right;
            margin: 0 0 49px;
        }

        &__row {
            display: flex;
        }

        &__right {
            max-width: 672px;
        }

        &__reverse {
            flex-direction: row-reverse;

        }
    }

}