@import '../vars.scss';

.single__info {
    text-align: center;
    margin: 0 0 30px;
    padding-top: 58px;

    &__title {
        font: 300 24px/30px $font-primary;
        margin: 0 0 58px;
    }

    &__text {
        font: 300 32px/32px $font-primary;
        margin: 0 0 65px;
    }

    &__container {
        border-bottom: 1px solid black;
        margin: 0 16px;
    }
}

@media (min-width: 768px) {

    .single__info {
        margin: 0 0 60px;
        padding-top: 90px;

        &__title {
            margin: 0 0 58px;
        }

        &__text {
            font: 300 45px/52px $font-primary;
            margin: 0 0 130px;
        }

        &__container {
            margin: 0;
        }
    }
}