@import '../vars.scss';

.section__images {
    margin: 0 0 91px;
    padding: 0 16px;

    &__container {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &__col {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &__figure {
        position: relative;
        height: 0;
        padding-top: 137.5%;
        width: 100%;
    }

    &__img {
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 12px;
    }
}

@media (min-width: 768px) {
    .section__images {
        margin: 0 0 56px;

        &__container {
            flex-direction: row;
            align-items: flex-start;
            justify-content: center;
            gap: 88px;
        }

        &__col {
            gap: 96px;

            &--margin {
                margin: 120px 0 0;
            }
        }

        &__figure {
            padding-top: 550px;
            width: 400px;
        }
    }
}