@import '../vars.scss';

.grid-3-col {
    padding: 36px 16px;

    &__container {
        display: flex;
        flex-direction: column;
        gap: 34px;
    }

    &__col {
        flex: 1;
    }

    &__figure {
        position: relative;
        height: 0;
        padding-top: 142.5%; //0,6425
        width: 100%;
    }

    &__img {
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 12px;
    }

    &__text {
        font: 300 24px/30px $font-primary;
        margin: 36px 0 15px;
    }
}

@media (min-width: 768px) {
    .grid-3-col {
        padding: 72px 0 65px;

        &__container {
            flex-direction: row;
            gap: 20px;
        }

        &__margin-1 {
            margin-top: 192px;
        }

        &__margin-2 {
            margin-top: 442px;
        }

        &__arrow {
            display: block;
            margin: 120px auto 0;
        }

        &__text {
            margin: 343px 0 0;
        }
    }
}