@import '../vars.scss';

.grid-5-img {
    padding: 20px 16px 0;

    &__row {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__container {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__figure {
        position: relative;
        height: 0;
        padding-top: 64.25%; //0,6425
        width: 100%;

    }

    &__610x275 {
        padding-top: 42.1311%; //0,421311
    }

    &__img {
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 12px;
    }

}

@media (min-width: 768px) {

    .grid-5-img {
        padding: 56px 0;

        &__row {
            flex-direction: row;
        }

        &__figure {
            padding-top: 275px; //0,6425
        }

        &__container {
            gap: 20px;
        }

    }
}