@import '../vars.scss';

.section__img-txt {
    padding: 64px 16px 35px;

    &__figure {
        position: relative;
        height: 0;
        padding-top: 58%;
        margin: 0 0 51px;
        width: 100%;
        filter: drop-shadow(0px 4px 90px #D5DCFF);
    }

    &__img {
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 12px;
    }

    &__col {
        display: flex;
        gap: 20px;
        flex-direction: column;
    }

    &__text {
        font: 300 20px/24px $font-primary;
    }
}

@media (min-width: 768px) {

    .section__img-txt {
        padding: 64px 0 22px;

        &__figure {
            position: relative;
            height: 0;
            padding-top: 379px;
            margin: 0 0;
            width: 494px;
        }

        &__col {
            gap: 33px;
        }

        &__container {
            display: flex;
            padding: 0 64px;
            gap: 92px;
        }

        &__text {
            font: 300 24px/30px $font-primary;
            max-width: 462px;
        }

        &__arrow {
            margin: 91px auto 0;
        }
    }
}

@media (min-width: 768px) and (max-width: 1100px) {
    .section__img-txt {
        padding: 15px 0 22px;
    }

    .section__img-txt__container {
        flex-direction: column;
        gap: 40px;
        padding: 0;
    }

    .section__img-txt__figure {
        margin: 0 auto;
    }

    .section__img-txt__text {
        max-width: inherit;
    }


}