@import '../vars.scss';

body {
    background: black;
    color: white;
    padding-top: 94px;
}

.header {
    background: black;
    color: white;

    path {
        stroke: white;
    }

    &--sticky {
        box-shadow: 0 1px 1px rgba(255, 255, 255, .1);
    }
}