@import '../vars.scss';

.mod-follow {
    font: 300 32px/36px $font-primary;
    margin: 58px 0 71px;
    padding: 0 20px;

    &__a {
        display: inline-block;
    }
}


@media (min-width: 768px) {

    .mod-follow {
        font: 300 72px/72px $font-primary;
        margin: 106px 0 73px;
        padding: 0;

        &__block {
            display: block;
        }

        &__a {
            transition: $transition ease-out;

            &:hover {
                color: $color-primary-hover;
            }
        }
    }
}

@media (min-width: 760px) and (max-width: 1200px) {
    .mod-follow {
        font: 300 60px/60px $font-primary;
    }
}