@import '../vars.scss';

.workmin {
    padding: 0 20px;

    &__item {
        border-top: 1px solid #000;
        display: flex;
        justify-content: space-between;
        padding: 11px 0 8px;
        width: 100%;
        font: 200 16px/24px $font-primary;
        letter-spacing: 0.15px;
        transition: $transition ease-out;


    }

    &__arrow {
        display: flex;

        &__svg {
            position: relative;
            transition: $transition ease-out;
        }
    }

    &__title {
        max-width: 100px;
    }

    &__caption {
        color: #606060;
        font: 200 12px/20px $font-primary;
        width: 59px;
    }

    &__tag {
        width: 100px;
    }
}


@media (min-width: 768px) {

    .workmin {
        padding: 79px 0 0;

        &__item {
            align-items: center;
            font: 200 16px/24px $font-primary;
            padding: 11px 0 27px;

            &:hover {
                background: black;
                color: white;
                padding-left: 20px;

                & .workmin__caption {
                    color: white;
                }

                & .workmin__arrow__svg {
                    left: -15px;
                    stroke: white;
                }
            }

        }

        &__arrow__svg {
            left: -25px;
        }

        &__title {
            max-width: inherit;
        }

        &__tag {
            width: auto;
        }

        &__caption {
            color: #606060;
            width: auto;
        }
    }
}