@import '../vars.scss';

.work__header {
    margin: 0 0 -5px;
    padding: 26px 0 0;

    &__title {
        font: 300 64px/72px $font-primary;
        letter-spacing: -0.25px;
        margin: 0 0 11px;
    }
}

.filter {
    display: block;
    position: relative;
    margin: 0 -20px;

    &__ul {
        overflow: auto;
        white-space: nowrap;
        padding: 16px 0 12px 20px;
    }

    &__li {
        padding-right: 8px;
        margin-right: 8px;
        display: inline-block;
        vertical-align: top;
    }

    &__btn {
        font: 200 16px/24px $font-primary;
        letter-spacing: 0.15px;
        color: #A4A4A4;
        transition: $transition ease-out;

        &:hover,
        &.active {
            color: #000000;
        }
    }

    &::before,
    &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 15px;
        height: 100%;
        background: linear-gradient(to right, rgba(209, 211, 211, 0) 0%, #f4f4f4 100%);
    }

    &::before {
        left: 0;
        right: auto;
        background: linear-gradient(to right, #f4f4f4 0%, rgba(209, 211, 211, 0) 100%);
    }
}

@media (min-width:768px) {
    .work__header {
        margin: 0 0 -7px;
        padding-top: 52px;

        &__title {
            margin: 0 0 39px;
        }
    }
}