@import 'partials/normalize.scss';
@import 'partials/grid.scss';
@import 'partials/fonts.scss';
@import 'partials/animation.scss';
@import 'partials/ui.scss';
@import 'partials/footer.scss';
@import 'partials/header.scss';
@import 'partials/navigation.scss';
// generic
@import 'partials/ui-black.scss';
@import 'partials/work-workmin.scss';
@import 'partials/about-header.scss';
@import 'partials/about-studio.scss';
@import 'partials/about-philosophy.scss';