@import 'partials/normalize.scss';
@import 'partials/grid.scss';
@import 'partials/fonts.scss';
@import 'partials/animation.scss';
@import 'partials/ui.scss';
@import 'partials/footer.scss';
@import 'partials/header.scss';
@import 'partials/navigation.scss';
// generic
@import 'partials/mod-work.scss';
@import 'partials/work.scss';
@import 'partials/work-workmin.scss';
@import 'partials/work-follow.scss';

body {
    padding-top: 94px;
}