@import 'partials/normalize.scss';
@import 'partials/grid.scss';
@import 'partials/fonts.scss';
@import 'partials/animation.scss';
@import 'partials/ui.scss';
@import 'partials/footer.scss';
@import 'partials/header.scss';
@import 'partials/navigation.scss';
@import 'partials/work-follow.scss';
// generic
@import 'partials/single-header.scss';
@import 'partials/single-info.scss';
@import 'partials/single-section-images.scss';
@import 'partials/single-grid-3-col.scss';
@import 'partials/single-grid-4-img.scss';
@import 'partials/single-grid-5-img.scss';

@import 'partials/single-center-img.scss';
@import 'partials/single-credits.scss';
@import 'partials/single-img-txt.scss';
@import 'partials/single-info-project.scss';
@import 'partials/single-section-half.scss';
@import 'partials/single-section-invert.scss';
@import 'partials/single-title-big.scss';
@import 'partials/single-section-space.scss';
@import 'partials/single-section-background.scss';