* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}

body {
  background-color: #F4F4F4;
  color: rgb(0, 0, 1);
  font: 1rem/1.1 "Sharp Grotesk", sans-serif;
  margin: 0;
  padding-top: 0;
}

a {
  text-decoration: none;
  outline: 0;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

figure,
ul,
ol,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  border: none;
  vertical-align: top;
  text-indent: -9999px;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: 0;
  padding: 0;
}

input:focus,
input {
  font-size: 16px;
}

*:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.row {
  margin: 0 auto;
  max-width: 1240px;
  position: relative;
  width: 100%;
}
.row__container {
  margin: 0 -15px;
  line-height: 0;
  font-size: 0;
}

.col {
  display: inline-block;
  vertical-align: top;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.col_6 {
  width: 50%;
}

@font-face {
  font-family: "Recoleta";
  src: url("../fonts/recoleta-400.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Recoleta";
  src: url("../fonts/recoleta-600.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Sharp Grotesk";
  src: url("../fonts/sharpgrotesk-200.woff2") format("woff2");
  font-weight: 200;
  font-display: swap;
}
@font-face {
  font-family: "Sharp Grotesk";
  src: url("../fonts/sharpgrotesk-300.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "Sharp Grotesk";
  src: url("../fonts/sharpgrotesk-500.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
}
@media (min-width: 760px) {
  .animation-left {
    -webkit-transform: translate(-20%, 0);
            transform: translate(-20%, 0);
  }
  .animation-top {
    -webkit-transform: translate(0, -20%);
            transform: translate(0, -20%);
  }
  .animation-bottom {
    -webkit-transform: translate(0, 20%);
            transform: translate(0, 20%);
  }
  .viewport-observer {
    opacity: 0;
    -webkit-transition: all 0.2s ease-out 0.5s;
    transition: all 0.2s ease-out 0.5s;
  }
  .viewport-observer.visible {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  .delay-2 {
    -webkit-transition-delay: 0.5s;
            transition-delay: 0.5s;
  }
  .delay-1 {
    -webkit-transition-delay: 0.1s;
            transition-delay: 0.1s;
  }
  .delay-2 {
    -webkit-transition-delay: 0.2s;
            transition-delay: 0.2s;
  }
  .delay-3 {
    -webkit-transition-delay: 0.3s;
            transition-delay: 0.3s;
  }
  .delay-4 {
    -webkit-transition-delay: 0.4s;
            transition-delay: 0.4s;
  }
  .delay-5 {
    -webkit-transition-delay: 0.5s;
            transition-delay: 0.5s;
  }
  .delay-6 {
    -webkit-transition-delay: 0.6s;
            transition-delay: 0.6s;
  }
  .delay-7 {
    -webkit-transition-delay: 0.7s;
            transition-delay: 0.7s;
  }
  .delay-8 {
    -webkit-transition-delay: 0.8s;
            transition-delay: 0.8s;
  }
  .delay-9 {
    -webkit-transition-delay: 0.9s;
            transition-delay: 0.9s;
  }
  .delay-10 {
    -webkit-transition-delay: 1s;
            transition-delay: 1s;
  }
  .delay-11 {
    -webkit-transition-delay: 1.1s;
            transition-delay: 1.1s;
  }
  .delay-12 {
    -webkit-transition-delay: 1.2s;
            transition-delay: 1.2s;
  }
  .delay-13 {
    -webkit-transition-delay: 1.3s;
            transition-delay: 1.3s;
  }
  .delay-14 {
    -webkit-transition-delay: 1.4s;
            transition-delay: 1.4s;
  }
  .delay-15 {
    -webkit-transition-delay: 1.5s;
            transition-delay: 1.5s;
  }
  .delay-16 {
    -webkit-transition-delay: 1.6s;
            transition-delay: 1.6s;
  }
  .delay-17 {
    -webkit-transition-delay: 1.7s;
            transition-delay: 1.7s;
  }
}
[data-lazyload] {
  opacity: 0;
}

.hide_mobile {
  display: none;
}

@media (min-width: 768px) {
  .hide_mobile {
    display: block;
  }
}
.nav {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  width: 100%;
  max-width: 300px;
  background: black;
  padding: 22px 20px 0;
  color: white;
  -webkit-transform: translate(110%, 0);
          transform: translate(110%, 0);
  -webkit-transition: -webkit-transform 0.3s 0.1s;
  transition: -webkit-transform 0.3s 0.1s;
  transition: transform 0.3s 0.1s;
  transition: transform 0.3s 0.1s, -webkit-transform 0.3s 0.1s;
  z-index: 301;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 40px;
  -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.3019607843);
          box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.3019607843);
}
.nav.active {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}
.nav__toggle {
  width: 30px;
  height: 30px;
  margin: -6px -11px 0;
  fill: #1CD3C1;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.nav__toggle:hover {
  fill: white;
}
.nav__ul {
  text-align: right;
}
.nav__social {
  margin: 0 -11px 0 0;
}
.nav__li {
  margin: 0 0 20px;
}
.nav__a {
  font: 700 20px/24px "Sharp Grotesk", sans-serif;
  color: #1CD3C1;
}
.nav__logo__svg {
  position: absolute;
  bottom: 30px;
  right: 20px;
}
.nav__overlay {
  background-color: rgba(28, 211, 193, 0.7);
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.nav__overlay.active {
  opacity: 1;
  visibility: visible;
  pointer-events: inherit;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.footer {
  border-top: 1px solid #000;
  padding: 55px 20px 0 20px;
  font: 200 16px/25px "Sharp Grotesk", sans-serif;
}
.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer__copy__a {
  display: block;
}
.footer__social {
  margin: 51px 0 0;
}
.footer__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 18px;
     -moz-column-gap: 18px;
          column-gap: 18px;
  margin: 30px 0 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font: 300 32px/36px "Sharp Grotesk", sans-serif;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 53px 0 95px;
}
.footer__link {
  margin-right: 18px;
}

@media (min-width: 760px) {
  .footer {
    padding-top: 55px;
    width: 100%;
  }
  .footer__container {
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1240px;
  }
  .footer__copy__a {
    display: initial;
  }
  .footer__ul, .footer__social {
    margin: 0;
  }
  .footer__top {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer__title {
    margin: 0 0 29px;
  }
  .footer__text {
    max-width: 200px;
  }
  .footer__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-column-gap: 70px;
       -moz-column-gap: 70px;
            column-gap: 70px;
  }
  .footer__bottom {
    font: 300 128px/128px "Sharp Grotesk", sans-serif;
    margin: 115px 0;
  }
}
.header {
  font-size: 22px;
  color: black;
  position: absolute;
  top: 0;
  width: 100%;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 96px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 30px;
}
.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 70px;
     -moz-column-gap: 70px;
          column-gap: 70px;
}

@media (min-width: 760px) {
  .header__container {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
  }
  .header__text {
    font: 200 16px/1 "Sharp Grotesk", sans-serif;
  }
}